.code-block {
  background: var(--match-faded);
  border-radius: var(--default-radius);
  padding: var(--default-padding);
}

.content-block {
  background: var(--match-faded);
  border-radius: var(--default-radius);
  padding: var(--default-padding);
}
