[!- include "styles/_includes/highlights.css" -!]

details > :where(:not(:first-child)) {
  padding-left: 1.4rem;
}


[!- for f in files !]
  [!- if f.folder == "styles/_elements" !]
  [! include f.input_path !]
  [!- endif !]
[!- endfor -!]

body {
  font-family: system-ui, sans-serif;
}

.example {
  border-left: 1px solid var(--faded-accent-color);
  margin-left: 1.4rem;
  padding-left: 1.4rem;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
